<input type="text" [(ngModel)]='title'>
{{title}}

<!-- <div *ngIf='title === "Maxi"'>Holaa, Maxi</div>

<div *ngIf='title === "Adrian"'>Holaa, Adrian</div> -->

<div [ngSwitch]='title'>
    <p *ngSwitchCase='"Maxi"'>Holaa, Maxi</p>
    <p *ngSwitchCase='"Adrian"'>Holaa, Adrian</p>
    <p *ngSwitchDefault>No hay match</p>
</div>

<button (click)='addItem()'>Add item</button>

<ul>
    <li *ngFor='let name of items'>
        {{name}}
    </li>
</ul>

<ul>
    <li *ngIf='items.length === 0'>La lista esta vacia</li>
    <li *ngFor='let name of items; index as i'>
        {{name}} {{i}}
        <button (click)='deleteItem(i)'>Delete item</button>
    </li>
</ul>

<div *ngFor='let product of products'>
    {{ product.title }}
    <img [src]="product.image" alt="producto" height="125px">
    {{ product.price }}
</div>