<div class="container">
    <h2>Nuestros trabajos</h2>
    <div class="d-flex justify-content-between">
        <div class="card">
            <div>
                <img
                  src="https://lh3.googleusercontent.com/TNwu7Tw_b1Wvvs_m0CYJjq82bTTotSOOebYqYvDKly6nwuqtFTNNwHC80pQ8IW6GzmmWyagigcHLCsx4F9pKs1SO-ka_R9Yqwss6RceIHpDVzdrjQoVsyLBdwMnHRni07E_fwdQOfg=w2400"
                  alt=""
                  height="200px"
                  width="300px"
                />
                <h3>Comercios</h3>
                <input type="button" class="btn btn-secondary" value="Ver trabajos" />
            </div>
        </div>
        <div class="card">
            <div class="Article-content">
                <img
                  src="https://lh3.googleusercontent.com/vjGHJziv_gbqtmLC0fCV3UnjTRTlLMNLMzQ-Paa__CDdcjXnijtCPaGZpeVR29zkxOW73RPhuWWH52ziRcord2HEfvKJ40HwWbbergN6V2jieaxroU4JW_3Zts5fs0SjgPSA-F0m=w2400"
                  alt=""
                  height="200 px"
                  width="300px"
                />
                <h3>Steel framing</h3>
                <input type="button" class="btn btn-secondary" value="Ver trabajos" />
            </div>
        </div>
        <div class="card">
            <div class="Article-content">
                <img
                  src="https://lh3.googleusercontent.com/gdeBneDdVMpl2efsSYWNiy6mvjTBVT3_ldUUbipqz-o4_6h77ExzK-Gol8QFue_ps2_zCzEv3nqDMr3RJdJ_zctVlsbz8TbOWDEJV75Kb3ghTyRbQBsfcVLO2W__okkaTiguJemh=w2400"
                  alt=""
                  height="200px"
                  width="300px"
                />
                <h3>Yeso interior</h3>
                <input type="button" class="btn btn-secondary" value="Ver trabajos" />
              </div>
        </div>
    </div>
</div>