/* container > row > column */
.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr 70px);
    align-items: center;
}

h1{
    grid-column: 3;
    grid-row: 1/1;
    justify-self: start;
    align-self: end;
    font-size: 30px;
}

.img_content1{
    grid-column: 3/3;
    grid-row: 3/3;
}

.content1{
    grid-column: 5/10;
    grid-row: 3/3;
    justify-self: end;
}

.img_content2{
    grid-column: 10/10;
    grid-row: 5/5;
}

.content2{
    grid-column: 3/9;
    grid-row: 5/5;
}

.img_content3{
    grid-column: 3/3;
    grid-row: 7/7;
}

.content3{
    grid-column: 5/10;
    grid-row: 7/7;
}

/* --------------------------- */

.container_pago{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    height: 100vh;
}

.modulo_pago_producto{
    grid-column: 3;
    grid-row: 2;
    justify-self: end;
}

.modulo_pago{
    grid-column: 4/6;
    grid-row: 2;
    margin-left: 20px;
}