<div class="brands text-center">
    <h2>Algunas de las marcas que confiaron en nosotros:</h2>
    <div class="brands-container">
        <ul class="d-flex flex-row flex-wrap justify-content-center align-items-center">
            <li><img src="../../../assets/images/logo-barracaparana.png" alt="Logo Barraca Parana - Barraca Parana"></li>
            <li><img src="../../../assets/images/logo-danielcassin.png" alt="Logo Daniel Cassin - Daniel Cassin"></li>
            <li><img src="../../../assets/images/logo-lemon.png" alt="Logo Lemon - Lemon"></li>
            <li><img src="../../../assets/images/logo-mcdonalds.png" alt="Logo Mc Donalds - Mc Donalds"></li>
            <li><img src="../../../assets/images/logo-montecom.png" alt="Logo Montecon - Montecon"></li>
            <li><img src="../../../assets/images/logo-victoriasecret.png" alt="Logo Victorias Secret - Victorias Secret"></li>
            <li><img src="../../../assets/images/logo-zarahome.png" alt="Logo Zara Home - Zara Home"></li>
            <li><img src="../../../assets/images/logo-aseo.png" alt="Logo Aseo - Aseo"></li>
        </ul>
    </div>
</div>

<!-- <carousel class="justify-content-center" height='120' arrows='false' cellsToShow='7' autoplay='true' autoplayInterval='5'>
    <div class="carousel-cell">
        <img src="../../../assets/svgs/barracaparana_0.png" alt="Logo Zara Home - Zara Home">
    </div>
    <div class="carousel-cell">
        <img src="../../../assets/svgs/svg-logo-danielcassin.svg" alt="Logo Daniel Cassin - Daniel Cassin">
    </div>
    <div class="carousel-cell">
        <img src="../../../assets/svgs/svg-logo-lemon.svg" alt="Logo Lemon - Lemon">
    </div>
    <div class="carousel-cell">
        <img src="../../../assets/svgs/svg-logo-mcdonalds.svg" alt="Logo Mc Donalds - Mc Donalds">
    </div>
    <div class="carousel-cell">
        <img src="../../../assets/svgs/svg-logo-montecom.svg" alt="Logo Montecon - Montecon">
    </div>
    <div class="carousel-cell">
        <img src="../../../assets/svgs/svg-logo-victoriasecret.svg" alt="Logo Victorias Secret - Victorias Secret">
    </div>
    <div class="carousel-cell">
        <img src="../../../assets/svgs/svg-logo-zarahome.svg" alt="Logo Zara Home - Zara Home">
    </div>
</carousel> -->