<div class="container">
    <section class="d-flex flex-column justify-content-center align-items-center flex-lg-row-reverse">
        
        <div class="text-container text-center">
            <h2>¿Quienes somos?</h2>
            <span>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel
              repudiandae libero accusantium aperiam laborum doloremque facere
              error qui repellat, dolor omnis velit illum tempore pariatur ullam
              asperiores neque voluptatibus voluptates.
            </span>
        </div>
        <div class="image-container col-12 col-md-8 col-lg-6">
            <img
              src="https://lh3.googleusercontent.com/vjGHJziv_gbqtmLC0fCV3UnjTRTlLMNLMzQ-Paa__CDdcjXnijtCPaGZpeVR29zkxOW73RPhuWWH52ziRcord2HEfvKJ40HwWbbergN6V2jieaxroU4JW_3Zts5fs0SjgPSA-F0m=w2400"
              alt="Steelframing - Obra en steelframing - Oficinas en steelframing"
              class="w-100"

            />
        </div>
    </section>
</div>